html, body{
    height:  100%;
    margin:  0;
    background-color: antiquewhite;
}

body{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: minmax(160px,1fr) 1fr minmax(650px,2fr) minmax(160px,1fr);
    grid-template-areas: 
    'laside header header' 
    'laside nav raside' 
    'laside block5 raside' 
     'footer footer footer';

}


header, footer{
    background-color: #353232;
    color: white;
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-area: header;
}

#header_h1{
    text-align: right;
    padding-right: 30px;
}

#header_p{
    text-align: center;
    font-size: 1.4em;
}






nav{
    background-color: #b9b6b4;
    border-left: 1px solid #353232;
    border-right: 1px solid #353232;
    border-bottom: 1px  solid #353232;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: nav;

}

nav ol{
    width: 100%;
}

nav ol li{
    display: inline-block;
    font-size: 22px;
    padding: 5px;

}


nav ol{
    text-align: center;
}

nav ol li a{
    color:aliceblue;
}







#block5{
    vertical-align: middle;
    background-color: #cecdcc;
    padding-left: 20px;
    padding-right: 60px;
    border: 1px  solid #353232;
    border-top: 0px;
    grid-area: block5;
}

#block5 p{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}




#block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cac6c4;
   
    border-bottom: 1px  solid #353232;

    padding-top: 15px;
    padding-bottom: 15px;

    padding-left:30px;
    padding-right: 30px;
    grid-area: laside;
}

#block1 p{
    display: block;
}

#block4{
    background-color: #cac6c4;
    border-bottom: 1px  solid #353232;
    padding-top:30px;
    padding-bottom: 15px;

    font-size: 1.6em;
    grid-area: raside;
}







footer{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    grid-area: footer;
}

footer h2{
    padding-right: 30px;
    text-align: center;
}


img{
    width: 100%;
}








@media (max-width: 1100px) {
    body{
        grid-template-columns: 50% 50%;
        grid-template-rows: minmax(160px,1fr) minmax(160px,1fr) minmax(600px,3fr) minmax(420px,1fr) minmax(160px,1fr);
        grid-template-areas: 
        'header header header' 
        'nav nav nav'
        'laside block5 block5'
        'raside raside raside' 
         'footer footer footer';
    }

    #block5{
        display: flex;
        flex-direction: column;
    
        justify-content: center;
    }

    img{
        width: 45%;

    }

    #block4{
        display: flex;
        justify-content: space-around;
    }


}




@media (max-width: 1080px) {
    body{
        grid-template-columns: 100%;
        grid-template-rows: minmax(160px,1fr) minmax(160px,1fr) minmax(600px,3fr) minmax(420px,1fr)  minmax(420px,1fr) minmax(160px,1fr);
        grid-template-areas: 
        'header' 
        'nav'
        'block5'
        'laside' 
        'raside' 
         'footer';
    }

    img{
        width: 45%;

    }

    #block4{
        display: flex;
        justify-content: space-around;
    }


}

@media (max-height: 2340px) {

}


